{% extends 'base_registration.html' %}
{% load static %}

    {% block formheader %}
<form action="" method="POST">
								{%csrf_token%}
		                    	<div class="wizard-header">
		                        	<h3 class="wizard-title">
		                        		S'incrire
		                        	</h3>
									<h5>Remplissez correctement vos informations</h5>
		                    	</div>
								<div class="wizard-navigation">
									<ul>
										<li><a href="#captain" data-toggle="tab">Votre profile</a></li>
			                            <li><a href="#details" data-toggle="tab">Compte</a></li>
			                            <li><a href="#description" data-toggle="tab">Autres Details</a></li>
			                        </ul>
								</div>

    {% endblock %}

{% block content %}



									<div class="tab-pane" id="captain">
                                    <h4 class="info-text">Quel type de profil souhaitez-vous créer ?</h4>
                                    <div class="row">
                                        <div class="col-sm-10 col-sm-offset-1">
                                            <div class="col-sm-4">
                                                <div class="choice" data-toggle="wizard-radio" rel="tooltip" title="Sélectionnez ce profil si vous êtes un candidat désirant enregistrer une seule personne, à savoir vous-même.">
                                                    <input type="radio" name="user_type" value="candidat" id="candidat_radio">
                                                    <div class="icon">
                                                        <i class="material-icons">face</i>
                                                    </div>
                                                    <h6>CANDIDAT</h6>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-sm-offset-4">
                                                <div class="choice" data-toggle="wizard-radio" rel="tooltip" title="Sélectionnez ce profil si vous représentez une entreprise de formation linguistique ou si vous souhaitez enregistrer plusieurs apprenants.">
                                                    <input type="radio" name="user_type" value="partenaire" id="partenaire_radio">
                                                    <div class="icon">
                                                        <i class="material-icons">apartment</i>
                                                    </div>
                                                    <h6>Partenaire</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>



{% endblock %}
{% block bouttonnext %}
<a href= "{% url 'sinscrire2' %}"><input type='submit' class='btn btn-next btn-fill btn-danger btn-wd' name='next' value='Next'/></a>
{% endblock %}